.nav-item a.nav-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.nav-item a.nav-link:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
