.nav-item a.nav-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.nav-item a.nav-link:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.clients {
    padding: 15px 0;
    text-align: center;
  }

  .clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 10px 0;
    filter: grayscale(100);
  }

  .clients img:hover {
    filter: none;
    transform: scale(1.15);
  }

    @media (max-width: 768px) {
        .kartu-portofolio img {
            width: 200px;
        }
        .induk-kolom .kolom-2 img{
            width: 400px;
        }
        .clients img {
            max-width: 40%;
          }
    }

    @media (max-width: 991px) {
        .dropdown-menu .row {
            max-width: 20rem;
        }
        .dropdown-menu .col-md-6 {
            width: 100%;
        }

        .dropdown-menu .dropdown-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .dropdown-menu .dropdown-item .fa-regular {
            font-size: 30px;
        }

        .dropdown-menu .dropdown-item .pl-3 {
            padding-left: 0 !important;
            margin-top: 5px;
            text-align: center;
        }

        .dropdown-menu .dropdown-item p {
            font-size: 14px;
            margin-top: 5px;
        }
    }
